.banner {
  min-height: 289px;
  background: url("../../img/gift-photo-mobile@1x.jpg") no-repeat 0 0;
}

.banner__gift {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
