.button {
  display: block;
  margin: 0;
  padding: 11px;
  border: none;
  background: $color;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @include font-family;

  &:disabled {
    background: $bg-alternate;
    color: $text;
  }
}

@media (min-width: $tablet) {
  .button {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}
