.category-page__title {
  margin: 26px 0 41px 0;
  color: $headers;
  font-size: 36px;
  line-height: 37px;
  font-weight: normal;

  @include font-family;
}

.category-page__list {
  @include reset-list;
}

.category-page__additional {
  padding-top: 28px;
}

@media (min-width: $tablet) {
  .category-page__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop) {
  .category-page__title {
    margin-top: 17px;
    margin-bottom: 38px;
  }
}
