.categories__list {
  @include reset-list;
}

.categories__item {
  margin-bottom: 20px;
}

@media (min-width: $tablet) {
  .categories__item {
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop) {
  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    flex: 1;

    & + & {
      margin-left: 80px;
    }
  }
}
