.example__title {
  margin: 0 0 34px 0;
  color: $headers;
  font-size: 36px;
  line-height: 38px;
  font-weight: normal;

  @include font-family;
}

.example__params {
  margin-top: 25px;
}

.example__illustration {
  margin-right: -20px;
  margin-left: -20px;
}

.example__toggler {
  margin-top: 28px;
  margin-left: 3px;
}

@media (min-width: $tablet) {
  .example__title {
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    line-height: 24px;
  }

  .example__params {
    margin-top: 53px;
  }

  .example__illustration {
    display: block;
    height: 499px;
    margin: auto;
  }
}

@media (min-width: $desktop) {
  .example {
    margin-top: 143px;
    background: $bg-alternate;
  }

  .example .wrapper {
    position: relative;
  }

  .example__title {
    position: absolute;
    top: -178px;
  }

  .example__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .example__info {
    flex: 0 0 430px;
  }

  .example__description {
    margin-top: 27px;
  }

  .example__params {
    margin-top: 68px;
  }

  .example__progress {
    flex: 0 0 560px;
    position: relative;
  }

  .example__illustration {
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
  }

  .example__toggler {
    margin-bottom: 5px;
  }
}
