.footer {
  padding: 39px 0 31px 0;
  background: $bg-alternate;
}

.footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto 31px auto;

  body:not(.index) & {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.footer__socials {
  padding: 22px 0 21px 0;
  border-top: 1px solid rgba($text, 0.1);

  a {
    &:hover,
    &:focus {
      svg {
        fill: $color;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.footer__madeby {
  padding-top: 31px;
  border-top: 1px solid rgba($text, 0.1);
  color: $headers;
  font-size: 16px;
  line-height: 16px;
  position: relative;

  a {
    color: inherit;
    text-decoration: none;

    &::after {
      display: block;
      content: "";
      width: 27px;
      height: 34px;
      margin-top: -25px;
      background: url("../img/htmlacademy.svg") no-repeat 0 0;
      background-size: 100%;
      position: absolute;
      right: 0;
    }

    &:hover,
    &:focus {
      &::after {
        background-image: url("../img/htmlacademy-active.svg");
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__socials {
    padding: 0;
    border: none;
  }

  .footer__madeby {
    padding: 0;
    border: none;

    a {
      display: flex;
      align-items: center;

      &::after {
        margin-top: 0;
        margin-left: 23px;
        position: static;
        right: 0;
      }
    }
  }
}

@media (min-width: $tablet) {
  .footer {
    padding: 53px 0 58px 0;
  }

  .footer__socials svg {
    transform: scale(1.3333);
  }
}
