.form-section__notice {
  color: $headers;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.form-section__title {
  color: $headers;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Oswald", sans-serif;
}

.form-section__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
