.form-section__notice {
  color: $headers;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @include font-family;
}

.form-section__title {
  color: $headers;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;

  @include font-family;
}

.form-section__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

@media (min-width: $tablet) {
  .form-section__fieldset--radio {
    padding: 25px 28px;
    border: 1px solid rgba($input-border, 0.5);
  }
}

@media (min-width: $desktop) {
  .form-section__flex {
    display: flex;

    > * {
      flex: 1;
      margin-left: 80px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
