.main-page__categories {
  padding: 22px 20px 0 20px;
}

.main-page__howitworks {
  padding: 33px 20px 42px 20px;
}

.main-page__example {
  padding: 33px 20px 38px 20px;
  background: $bg-alternate;
}
