.main-page__categories {
  padding: 22px 0 0 0;
}

.main-page__howitworks {
  padding: 8px 0 6px 0;
}

.main-page__example {
  margin-top: 35px;
  padding: 28px 0 38px 0;
  background: $bg-alternate;
}

@media (min-width: $tablet) {
  .main-page__categories {
    margin-top: -10px;
    padding: 0;
  }

  .main-page__howitworks {
    padding-top: 18px;
  }
}

@media (min-width: $desktop) {
  .main-page__titlescreen {
    min-height: 613px;
  }

  .main-page__howitworks {
    padding-top: 42px;
  }
}
