.more {
  padding: 26px 0 25px 0;
  text-align: center;
}

.more__plus {
  opacity: 0.2;
}

.more__count {
  margin: 18px 0 8px 0;
  color: $headers;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @include font-family;
}

.more__notice {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.more__button {
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet) {
  .more {
    display: flex;
    flex-direction: column;
    padding: 53px 37px 40px 38px;
  }

  .more__plus {
    width: 61px;
    height: 61px;
    margin-bottom: 44px;
  }

  .more__count {
    width: 100%;
    max-width: 165px;
    margin: 0 auto 25px auto;
    font-size: 20px;
    line-height: 20px;
  }

  .more__notice {
    width: 100%;
    max-width: 170px;
    margin: 0 auto;
    color: $text;
    font-size: 16px;
    line-height: 19px;
  }

  .more__button {
    margin-top: auto;
  }
}
