.nav__list {
  @include reset-list;

  @media (max-width: #{$tablet - 1px}) {
    body.loaded & {
      display: none;
      width: 100%;
      background: $bg;
      position: absolute;
    }

    body.menuopened & {
      display: block;
    }
  }
}

.nav__item {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  @include font-family;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.nav__trigger {
  display: none;
  width: 25px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat 50% 50%;

  @media (max-width: #{$tablet - 1px}) {
    body.loaded & {
      display: block;
    }

    body.menuopened & {
      background-image: url("../img/icon-close.svg");
    }
  }
}

@media (max-width: #{$tablet - 1px}) {
  .nav__list {
    margin-right: -20px;
    margin-left: -20px;
    border-top: 1px solid rgba($input-border, 0.5);
  }

  .nav__item {
    border-bottom: 1px solid rgba($input-border, 0.5);
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;

    > * {
      display: block;
      padding: 22px 0;
      color: $headers;
      text-decoration: none;
    }
  }

  .nav__trigger {
    position: absolute;
    top: 23px;
    right: 20px;
  }
}

@media (min-width: $tablet) {
  .nav__trigger {
    display: none;
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: 37px;
    font-size: 18px;
    line-height: 25px;
  }

  .nav__active {
    padding-bottom: 7px;
    border-bottom: 2px solid $color;
  }
}

@media (min-width: $desktop) {
  .nav__item {
    margin-left: 35px;
    font-size: 20px;
    line-height: 25px;
  }

  .index {
    .nav__item {
      color: #ffffff;
    }

    .nav__active {
      border-color: #ffffff;
    }
  }
}
