.order-page__wrapper {
  margin-bottom: -4px;
}

.order-page__title {
  margin: 24px 0 36px 0;
  color: $headers;
  font-size: 36px;
  line-height: 38px;
  font-weight: normal;

  @include font-family;
}

.order-page__section {
  margin-bottom: 27px;
}

.order-page__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}

.order-page__submit {
  flex: 0 0 100%;
  font-size: 16px;
  line-height: 18px;
}

.order-page__info {
  margin-top: 20px;
}

@media (min-width: $tablet) {
  .order-page__wrapper {
    margin-bottom: 0;
  }

  @media (max-width: #{$desktop - 1px}) {
    .order-page__wrapper {
      padding-right: 37px;
      padding-left: 40px;
    }
  }

  .order-page__title {
    margin-top: 29px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  .order-page__section {
    margin-bottom: 65px;
  }

  .order-page__bottom {
    display: flex;
    margin-top: -43px;
    margin-bottom: -3px;
    padding: 0;

    > * {
      flex: 1 0 1px;
      box-sizing: border-box;
    }
  }

  .order-page__submit {
    margin-right: 60px;
    padding: 15px 0 17px 0;
    font-size: 20px;
    line-height: 20px;
  }

  .order-page__info {
    margin-top: 14px;
  }
}

@media (min-width: $desktop) {
  .order-page__title {
    margin-top: 16px;
  }

  .order-page__section {
    margin-bottom: 47px;
  }

  .order-page__bottom {
    margin-top: -18px;
  }

  .order-page__submit {
    margin-right: 80px;
  }
}
