.order-page__title {
  color: $headers;
  font-size: 36px;
  line-height: 38px;
  font-weight: normal;

  @include font-family;
}

@media (min-width: $tablet) {
  .order-page__wrapper {
    padding-right: 37px;
    padding-left: 40px;
  }
}
