.socials__list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  margin: 0 24px 0 14px;
}

@media (min-width: $tablet) {
  .socials__item {
    margin: 0 6px 0 28px;
  }
}
