.statistic__item {
  &--inline {
    color: $headers;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

    @include font-family;
  }
}

.statistic__label {
  font-size: 12px;
  line-height: 12px;
}

.statistic__value {
  color: $headers;
  font-size: 24px;
  line-height: 24px;

  @include font-family;
}

.statistic__list {
  @include reset-list;
}

@media (min-width: $tablet) {
  .statistic__list {
    display: flex;
    justify-content: space-between;
  }

  .statistic__item {
    margin-right: 42px;

    &--inline {
      flex: 1;
      margin-right: 0;
      text-align: right;

      span {
        display: block;
      }
    }
  }
}

@media (min-width: $desktop) {
  .statistic__list {
    flex-wrap: wrap;
  }

  .statistic__item {
    &--inline {
      display: flex;
      justify-content: space-between;
      margin-left: 0;
    }
  }
}
