.text-field {
  display: flex;
}

.text-field__label {
  margin: 13px 13px 0 0;
  color: $headers;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include font-family;
}

.text-field__input {
  flex: 1;
  margin: 0;
  padding: 12px 14px 13px 14px;
  border: 1px solid rgba($input-border, 0.5);
  color: $headers;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include font-family;

  &:hover {
    border-color: $input-border;
  }

  &:focus,
  &.error {
    margin: -1px;
    border-color: $text;
    border-width: 2px;
    outline: none;
  }

  &.error {
    border-color: $input-border-error;
  }

  &--iconed {
    padding-right: 42px;
  }

  &--email {
    background: url("../img/icon-mail.svg") no-repeat right 14px top 50%;
    background-size: 18px 14px;

    &:focus,
    &:active {
      background-image: url("../img/icon-mail-active.svg");
    }

    &.error {
      background-image: url("../img/icon-mail-error.svg");
    }
  }

  &--phone {
    background: url("../img/icon-phone.svg") no-repeat right 11px top 50%;
    background-size: 21px 21px;

    &:focus,
    &:active {
      background-image: url("../img/icon-phone-active.svg");
    }

    &.error {
      background-image: url("../img/icon-phone-error.svg");
    }
  }
}

@media (min-width: $tablet) {
  .text-field__label {
    margin: 15px 17px 0 0;
    font-size: 20px;
    line-height: 20px;
  }

  .text-field__input {
    padding: 12px 18px 13px 18px;
    font-size: 20px;
    line-height: 25px;

    &--iconed {
      padding-right: 48px;
    }

    &--email {
      background-position: right 17px top 50%;
    }

    &--phone {
      background-position: right 14px top 50%;
    }

    &--textarea {
      max-height: 147px;
    }
  }
}

@media (min-width: $desktop) {
  .text-field__input {
    &--textarea {
      margin-bottom: 20px;
    }
  }
}
