.text-field {
  display: flex;
}

.text-field__label {
  color: $headers;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include font-family;
}

.text-field__input {
  flex: 1px;
  border: 1px solid rgba($input-border, 0.5);
  color: $headers;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include font-family;
}
