.toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $headers;
  font-size: 16px;
  line-height: 20px;
}

.toggler__before,
.toggler__after {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;

  @include font-family;

  &::after {
    display: block;
    content: "";
    border-bottom: 1px dotted;
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    opacity: 0.23;
  }

  &:hover,
  &:focus {
    &::after {
      border-bottom: 1px solid;
      opacity: 0.4;
    }
  }

  &:active {
    &::after {
      display: none;
    }
  }
}

.toggler__span {
  width: 84px;
  height: 14px;
  margin-right: 18px;
  margin-left: 18px;
  border: 1px solid $input-border;
  background-color: $bg;
  border-radius: 6px;
  box-sizing: border-box;
}

.toggler__pin {
  display: block;
  width: 35px;
  height: 6px;
  margin: 3px 5px;
  padding: 0;
  border: none;
  background-color: $color;
  border-radius: 3px;

  .example__progress.after & {
    float: right;
  }
}

@media (min-width: $tablet) {
  .toggler {
    font-size: 20px;
  }

  .toggler__span {
    width: 428px;
    height: 6px;
    margin-right: 22px;
    margin-left: 22px;
    border: none;
    background-color: $toggler-line;
    border-radius: 3px;
  }

  .toggler__pin {
    display: flex;
    width: 34px;
    height: 34px;
    margin: -14px 0 0 0;
    background-color: $bg;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    &::before {
      display: block;
      content: "";
      width: 8px;
      height: 8px;
      margin: auto;
      background-color: $color;
      border-radius: 50%;
    }
  }
}
