@mixin reset-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin font-family {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
}
