.visually-hidden {
  @include visually-hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  display: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 280px;
  margin: auto;

  @media (min-width: $tablet) {
    width: 708px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
  }
}

.lined-heading {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    display: block;
    content: "";
    height: 3px;
    margin-right: 24px;
    background: $color;
    position: absolute;
    top: 14px;
    right: 100%;
    left: -3000px;
    z-index: -2;
  }

  &::after {
    margin-right: auto;
    margin-left: 24px;
    right: -3000px;
    left: 100%;
  }
}

@media (max-width: #{$tablet - 1px}) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: $tablet) {
  .mobile-only {
    display: none;
  }

  .lined-heading {
    &::before,
    &::after {
      top: 22px;
    }

    &::before {
      margin-right: 40px;
    }

    &::after {
      margin-left: 40px;
    }
  }
}
