.button {
  display: block;
  margin: 0;
  padding: 11px;
  border: none;
  background: $green;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  &:disabled {
    background: $bg_gray;
    color: $text;
  }
}
