.howitworks__title {
  color: $headers;
  font-size: 36px;
  line-height: 38px;
  font-weight: normal;
  font-family: "Oswald", sans-serif;
}

.howitworks__image {
  width: 60px;
  height: 60px;
  background: $green;
}
